absl-py
cachetools
certifi
chardet
cycler
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
Keras-Applications
Keras-Preprocessing
Markdown
matplotlib
mock
numpy
oauthlib
opt-einsum
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
requests
requests-oauthlib
six
termcolor
Werkzeug
wrapt
streamlit
torch
torchvision
opencv-python-headless
pillow
kornia
mtcnn
